server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Ashish-Kumar01-coder/EcommerceProject
          search-paths:
            - config
          default-label: main
          clone-on-start: true
