spring:
  application:
    name: ApiGatewayService

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: users-route
          uri: lb://users
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8088

management:
  endpoints:
    web:
      exposure:
        include: gateway,health
